CONFIG_SLAB_FREELIST_RANDOM=Y
CONFIG_SLAB_FREELIST_HARDENED=Y
CONFIG_SLAB_MERGE_DEFAULT=N 
CONFIG_SHUFFLE_PAGE_ALLOCATOR=Y 
CONFIG_SLUB_DEBUG=Y 
CONFIG_INIT_ON_FREE_DEFAULT_ON=Y 
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=Y 
CONFIG_REFCOUNT_FULL=Y 
CONFIG_GCC_PLUGIN_STRUCTKLEAK=Y 
CONFIG_GCC_PLUGIN_STRUCTLEAK_ BYREF_ALL=Y 
CONFIG_INIT_STACK_ALL=Y 
CONFIG_BPF_JIT_ALWAYS_ON=Y 
CONFIG_BPF_UNPRIV_DEFAULT_OFF=Y 
CONFIG_STACKPROTECTOR=Y
CONFIG_STACKPROTECTOR_STRONG=Y 
CONFIG_FORTIFY_SOURCE=Y 
CONFIG_SCHED_STACK_END_CHECK=Y 
CONFIG_VMAP_STACK=Y 
CONFIG_THREAD_INFO_IN_TASK=Y 
CONFIG_GCC_PLUGIN_STACKLEAK=Y 
CONFIG_PAGE_POISONING=Y 
CONFIG_PAGE_POISONING_NO_SANITY=N 
CONFIG_DEBUG_LIST=Y 
CONFIG_DEBUG_SG=Y 
CONFIG_BUG_ON_DATA_CORRUPTION=Y 
CONFIG_DEVKMEM=N
CONFIG_DEVMEM=N 
CONFIG_DEVPORT=N 
CONFIG_ACPI_CUSTOM_METHOD=N 
CONFIG_LEGACY_PTYS=N 
CONFIG_HIBERNATION=N 
CONFIG_KEXEC=Y 
CONFIG_HARDENED_USERCOPY=Y 
CONFIG_HARDENED_USERCOPY_FALLBACK=N CONFIG_HARDENED_USERCOPY_PAGESPAN=N 
SECURITY_DMESG_RESTRICT=Y 
CONFIG_COMPAT_BRK=N 
CONFIG_USERFAULTFD=N 
CONFIG_STRICT_KERNEL_RWX=Y
CONFIG_STRICT_MODULE_RWX=Y 
CONFIG_DEBUG_WX=Y 
CONFIG_STACKTRACE_SUPPORT=Y 
CONFIG_STACK_TRACER=Y 
CONFIG_KPROBES=N 
CONFIG_PROC_KCORE=N 
CONFIG_ELF_CORE=Y 
CONFIG_PROC_PAGE_MONITOR=Y 
CONFIG_FTRACE_SYSCALLS=Y 
CONFIG_KALLSYMS=N 
CONFIG_SOFTLOCKUP_DETECTOR=Y 
CONFIG_DETECT_HUNG_TASK=Y 
CONFIG_WQ_WATCHDOG=Y 
CONFIG_KCSAN=Y 
CONFIG_PROVE_LOCKING=Y 
CONFIG_DEBUG_RT_MUTEXES=Y 
CONFIG_DEBUG_NOTIFIERS=Y 
CONFIG_LOCK_STAT=Y 
CONFIG_DEBUG_SPINLOCK=Y 
CONFIG_DEBUG_MUTEXES=Y 
CONFIG_DEBUG_WW_MUTEX_SLOWPATH=Y 
CONFIG_DEBUG_LOCK_ALLOC=Y 
CONFIG_DEBUG_LOCKING_API_SELFTESTS=Y 
CONFIG_LOCK_TORTURE_TEST=Y 
CONFIG_WW_MUTEX_SELFTEST=Y 
CONFIG_RCU_TORTURE_TEST=Y 
CONFIG_DEBUG_ATOMIC_SLEEP=Y 
CONFIG_SIGNALFD=Y 
CONFIG_PAGE_TABLE_ISOLATION=Y 
CONFIG_RETPOLINE=Y
CONFIG_BPF_UNPRIV_DEFAULT_OFF=N 
LIVEPATCH=N

